* {
  box-sizing: border-box;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.todayCard {
  position: relative;
  background-color: #fff;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  padding-bottom: .75em;
}

.todaysDay {
  font-size: 1.7em;
  text-decoration: underline;
}

.todayCard > img.weatherIcon {
  width: 60%;
  max-width: 7.5em;
}

.forecast {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  align-content: center;
  padding: .83333%
}

.forecastCard {
  background-color: #fff;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  margin: .5%;
}

.day {
  font-size: 1em;
  text-decoration: underline;
}

.weatherIcon {
  width: 6em;
  margin: 8px;
}

.clock {
  position: absolute;
  top: -.4em;
  left: .5em;
}

.clock > h4 {
  font-size: .75em;
}

@media only screen and (min-width: 500px) {
  .todayCard {
    width: 65%;
  }
  
  .forecast {
    flex-direction: row;
    justify-content: center;
    align-content: unset;
  }

  .forecastCard {
    width: 48%;
    max-width: 300px;
  }
}

@media only screen and (min-width: 650px) {
  .forecastCard {
    width: 18%;
    min-width: 190px;
  }
}